<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Sf3tuto{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block vendors %}{% endblock %}
    </head>
    <body>
        {{ knp_menu_render('main') }}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
