{% extends "::base.html.twig" %}

{% block title %}TutoConfigTutoBundle:Default:index{% endblock %}

{% block body %}
<h1>{{ 'tuto.config.title'|trans }}</h1>
<p>{{ 'tuto.config.convent'|trans }}</p>
{% endblock %}
